#app {
    width: 300px;
    margin: auto;
    text-align: center;
}

#itemList {
    list-style-type: none;
    padding: 0;
}

#itemList li {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
}
